body {
    font-family: Arial, sans-serif;
    margin: 20px;
    line-height: 1.6;
}

nav a {
    margin-right: 10px;
    text-decoration: none;
    color: blue;
}

h1 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    margin-left: 10px;
    text-decoration: none;
    color: darkgreen;
}

a:hover {
    text-decoration: underline;
}

pre.note-content {
    white-space: pre-wrap;
}

.button {
    display: inline-block;
    padding: 5px 10px;
    margin-top: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

.button:hover {
    background-color: #0056b3;
}
