<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ book[1] }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}">Home</a>
    </nav>

    <h1>{{ book[1] }}</h1>

    <h2>Notes</h2>
    <ul>
        {% for note in notes %}
        <li>
            <pre class="note-content">{{ note[1] }}</pre>
            <a href="{{ url_for('edit_note', note_id=note[0]) }}">Editar</a>
            <a href="{{ url_for('delete_note', note_id=note[0]) }}" onclick="return confirm('Tem certeza que deseja excluir esta nota?')">Excluir</a>
            <a href="https://www.google.com/search?q={{ note[1] | urlencode }}" target="_blank">Buscar no Google</a>
        </li>
        {% endfor %}
    </ul>

    <!-- Botão de Adicionar Nota -->
    <a href="{{ url_for('add_note_to_book', book_id=book[0]) }}" class="button">Adicionar Nota</a>
</body>
</html>
